<a href="https://colab.research.google.com/github/tomonari-masada/course2024-intro2ml/blob/main/03_Python_2_(in_class).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python入門（２）

## `for`ループ

In [ ]:
for i in range(6): # [0, 1, 2, 3, 4, 5]
  print(i)

0
1
2
3
4
5

In [ ]:
x = 10
for i in range(x):
  print(i)

0
1
2
3
4
5
6
7
8
9

In [ ]:
for i in range(3, 80, 23):
  print(i)

3
26
49
72

In [ ]:
for i in range(3, 8):
  print(i)

3
4
5
6
7

In [ ]:
s = 0
for i in range(1, 101): # 100回まわる
  s += i
print(s)

5050

In [ ]:
100 * (100 + 1) // 2

5050

In [ ]:
for a in ["xxx", "yyyyyy", "zzzz"]:
  print(a)

xxx
yyyyyy
zzzz

## アサーション

* 与えられた条件が成り立っていないとき、エラーを出す
* プログラムが期待通りの動きをしているかのチェックに使う

In [ ]:
x = int(input('非負の整数を入力してください: '))
assert x >= 0 #次スライドで説明
for a in range(x):
  if a**2 >= x:
    break
if a**2 == x:
  print(f'{a} is a square root of {x}.')

## シーケンスとしての文字列

In [ ]:
for c in 'abracadabra':
  print(c)

a
b
r
a
c
a
d
a
b
r
a

In [ ]:
n = 0
for c in 'abracadabra':
  if c == 'a':
    n += 1 # nの値を1ふやす
print(n)

5

## 関数定義の詳細

In [ ]:
def max_value(x, y):
  if x > y:
    return x
  else:
    return y

In [ ]:
print(max_value(8, 3))

8

In [ ]:
max_value(7, 12)

12

In [ ]:
def printName(firstName, lastName, reverse): # 引数
  if reverse: # reverseはbool型でないといけないことがわかる
    print(lastName + ', ' + firstName)
  else:
    print(firstName + ' ' + lastName)

In [ ]:
printName('Taro', 'Yamada', True)

Yamada, Taro

In [ ]:
printName('Taro', 'Yamada')

TypeError: printName() missing 1 required positional argument: 'reverse'

In [ ]:
printName('Taro', 'Yamada', reverse=False)

Taro Yamada

### デフォルト値 （既定の値）

In [ ]:
def printName(firstName, lastName, reverse=False):
  if reverse:
    print(lastName + ', ' + firstName)
  else:
    print(firstName + ' ' + lastName)

In [ ]:
printName('Taro', 'Yamada')

Taro Yamada

### スコープ

In [ ]:
def f(x):
  y = 1
  x = x + y
  print('x =', x)
  return x

In [ ]:
x, y = 3, 2
z = f(x)
print(f'x = {x}, y = {y}, z = {z}')

x = 4
x = 3, y = 2, z = 4

### ドキュメンテーション
* Pythonのコードのなかで、`"""`で囲まれた部分は、ドキュメンテーション文字列と呼ばれる
  * 例えば関数の仕様を説明するために用いる。
  * 組み込み関数`help`でドキュメンテーション文字列にアクセスできる。

In [ ]:
def f(x):
  """xの値を表示する"""
  print(x)

help(f)

### 再帰呼出し

In [ ]:
def fact(n):
  if n == 1:
    return n
  else:
    return n * fact(n - 1)

In [ ]:
print(fact(8))

In [ ]:
def fib(n):
  if n == 0 or n == 1:
    return 1
  else:
    return fib(n - 1) + fib(n - 2)

In [ ]:
for i in range(11):
  print(fib(i), end=',')
print()

## 補足: `print`関数の`end`仮引数

In [ ]:
print('a', end='')
print('b', end=' ')
print('c', end='---')
print('d')
print('e')

## ファイルの読み書き

In [ ]:
f = open("text.txt", "w") # w = write
for i in range(5):
  line = input('Enter string: ')
  f.write(line + '\n') # \nは改行記号
f.close()

Enter string: aaaa
Enter string: 2efasfgawrfw
Enter string: fdadsf
Enter string: thrsgv
Enter string: yjysrd

In [76]:
f = open('text.txt', 'r') # r = read
for sss in f:
  print(sss.strip())
f.close()

['Traditionally,', 'custody', 'is', 'granted', 'to', 'a', 'single', 'parent', 'who', 'is', 'then', 'able', 'to', 'completely', 'cut', 'off', 'the', 'other', "parent's", 'access', 'to', 'their', 'children.']
[]
['Until', 'Friday,', 'Japan', 'was', 'the', 'only', 'G7', 'country', 'that', 'did', 'not', 'recognise', 'the', 'legal', 'concept', 'of', 'joint', 'custody.']
[]
['Most', 'divorces', 'in', 'Japan', 'happen', 'through', '"consent', 'divorce"', '-', 'where', 'both', 'parties', 'sign', 'a', 'paper', 'and', 'mutually', 'end', 'a', 'marriage.']
[]
['In', 'this', 'scenario,', 'lawyers', 'say,', 'the', 'couple', 'is', 'free', 'to', 'decide', 'custody', 'and', 'visitation', 'arrangements.', 'But', 'if', 'the', 'two', 'parties', 'go', 'to', 'court,', 'the', 'judge', 'awards', 'custody', 'to', 'one', 'parent.']

In [ ]:
f = open('text.txt', 'r')
for line in f:
  line = line.strip()
  print(line)
f.close()

aaaa
2efasfgawrfw
fdadsf
thrsgv
yjysrd

In [ ]:
"   ssaasa   ".strip()

'ssaasa'

## Pythonの4つの構造型

* タプル
  * 文字列の一般化。不変な要素の列。
* range
  * タプルと同じく不変な要素の列。ただし整数の列。
* リスト
  * 可変なタプル
* 辞書
  * 連想配列（添え字が数字でない配列）

### タプル(tuple)

In [ ]:
t1 = ()
t2 = ('one', 2, 'three', 4)
print(t1)
print(t2)

()
('one', 2, 'three', 4)

In [ ]:
t2[0] = "two"

TypeError: 'tuple' object does not support item assignment

In [13]:
t3 = (123,)
print(t3)

(123,)

In [ ]:
t4 = ("123",)
print(t4)

('123',)

In [ ]:
t = ()
print(t)

()

In [15]:
t = tuple()
print(t)

()

In [ ]:
t1 = ('one', 2, 'three', 4)
t2 = (0, t1, 'five')
print(t2)
print(t1 + t2)
print((t1 + t2)[2])
print((t1 + t2)[1:4])

(0, ('one', 2, 'three', 4), 'five')
('one', 2, 'three', 4, 0, ('one', 2, 'three', 4), 'five')
three
(2, 'three', 4)

In [ ]:
t1 = (2, 4, 6, 8, 10, 12, 14, 16, 18)
for e in t1:
  print(e)

2
4
6
8
10
12
14
16
18

In [ ]:
t1 = (2, 4, 6, 8, 10, 12, 14, 16, 18)
t2 = (3, 6, 9, 12, 15, 18)
for e in t1:
    if e in t2:
        print(e)

6
12
18

In [4]:
for i in range(6):
  a = int(input("値を入力してください:"))
  if i == 0:
    m = a
  elif a > m:
    m = a
print(m)

値を入力してください:21
値を入力してください:1232
値を入力してください:84
値を入力してください:3
値を入力してください:99
値を入力してください:3
1232

### 範囲(range)

In [5]:
for i in range(21, 100, 7):
  print(i)

21
28
35
42
49
56
63
70
77
84
91
98

In [8]:
for i in range(99, 21, -7):
  print(i)

99
92
85
78
71
64
57
50
43
36
29
22

### リスト(list)

In [9]:
l1 = []
l2 = ['one', 2, 'three', 4]
print(l1)
print(l2)

[]
['one', 2, 'three', 4]

In [10]:
l3 = [123]
print(l3)

[123]

In [14]:
l = list()
print(l)

[]

In [16]:
l1 = [2, 4, 6, 8, 10, 12, 14, 16, 18]
l2 = [3, 6, 9, 12, 15, 18]
for e in l1:
  if e in l2:
    print(e)

6
12
18

* 組み込み関数`id`を使うとオブジェクトの固有識別子が得られる

In [ ]:
v = ['onion', 'carrot']
f = ['apple', 'orange', 'banana']
l1 = [v, f]
l2 = [['onion', 'carrot'], ['apple', 'orange', 'banana']]
print(l1 == l2)
print(id(l1) == id(l2))

### リストのメソッド

In [17]:
l1 = [1,2,3]
l2 = [4,5,6]
l2.append(7)
print(l2)

[4, 5, 6, 7]

In [18]:
l1.extend(l2)
print(l1)

[1, 2, 3, 4, 5, 6, 7]

In [19]:
l1.append(l2)
print(l1)

[1, 2, 3, 4, 5, 6, 7, [4, 5, 6, 7]]

In [20]:
l = [1,2,3,2,1,2,3,4,3,2,3,4,5]
print(l.count(1))
print(l.count(3))
print(l.index(4)) # Pythonのインデックス（添え字）は0から始まる
print(l.index(10))

2
4
7

ValueError: 10 is not in list

In [21]:
l = [1,2,3,2,1,2,3,4,3,2,3,4,5]
l.sort() # 昇順に並べ替え
print(l)

[1, 1, 2, 2, 2, 2, 3, 3, 3, 3, 4, 4, 5]

In [22]:
l.reverse()
print(l)

[5, 4, 4, 3, 3, 3, 3, 2, 2, 2, 2, 1, 1]

In [ ]:
l = [3, 6, 9, 12, 15, 18]
l.insert(3, 10)
print(l)
l.remove(10)
print(l)
l.pop(4)
print(l)

### リスト内包(list comprehension)
* 順序型のそれぞれの値に対し、特定の処理をおこない、その結果を要素として含むリストを作り出す方法

In [24]:
l = []
for x in range(5):
  l.append(x**3)
print(l)

[0, 1, 8, 27, 64]

In [23]:
l = [x**3 for x in range(5)]
print(l)

[0, 1, 8, 27, 64]

In [25]:
l = [x for x in range(-10, 10) if x % 2 == 0]
print(l)

[-10, -8, -6, -4, -2, 0, 2, 4, 6, 8]

In [ ]:
words1 = ['apple', 'ball', 'banana', 'orange']
words2 = [x for x in words1 if x.count('a') == 1]
print(words2)
words3 = [x for x in words1 for c in x if c == 'a']
print(words3) #出力がなぜそうなるか説明してみよう

* 辞書型

In [26]:
numbers = {'one':1, 'two':2, 'four':3, 'seven':7}
print(numbers)

{'one': 1, 'two': 2, 'four': 3, 'seven': 7}

In [27]:
print(numbers['four'])

3

In [29]:
numbers["four"] = 4
print(numbers)

{'one': 1, 'two': 2, 'four': 4, 'seven': 7}

In [31]:
numbers['seven'] = 70 #値を上書き
print(numbers)

{'one': 1, 'two': 2, 'four': 4, 'seven': 70}

In [32]:
numbers['six'] = 6 #新たに追加
print(numbers)

{'one': 1, 'two': 2, 'four': 4, 'seven': 70, 'six': 6}

In [34]:
print('nine' in numbers) #キーがあるかどうか調べる

False

In [35]:
len(numbers) # lengthの略

5

In [37]:
l

[-10, -8, -6, -4, -2, 0, 2, 4, 6, 8]

In [40]:
ll = l * 3
print(ll)

[-10, -8, -6, -4, -2, 0, 2, 4, 6, 8, -10, -8, -6, -4, -2, 0, 2, 4, 6, 8, -10, -8, -6, -4, -2, 0, 2, 4, 6, 8]

In [41]:
ll[5:9]

[0, 2, 4, 6]

## 順序型に対する操作のまとめ
* `seq[i]`は順序型のi番目の要素（ただし、最初の要素は0番目）
* `len(seq)`は順序型の長さ
* `seq1 + seq2`は二つの順序型を連結する（範囲型では使用不可）
* `n * seq`は`seq`を`n`回繰り返した順序型（範囲型では使用不可）
* `seq[start:end]`は順序型のスライス
* `e in seq`は`e`が順序型の要素である場合`True`、それ以外`False`
* `e not in seq`は`e`が順序型の要素でない場合`True`、それ以外`False`
* `for e in seq`は順序型の要素を反復して取り出す

## 辞書

In [68]:
d = dict()
print(d)

{}

In [69]:
d["xxx"] = "yyy"
print(d)

{'xxx': 'yyy'}

In [44]:
numbers = {'three':3 , 'one':1 , 'nine':9, 'four':4}
for k in numbers:
  print(k, numbers[k])

three 3
one 1
nine 9
four 4

### 辞書の`items`メソッド

In [45]:
numbers = {'three':3 , 'one':1 , 'nine':9, 'four':4}
for item in numbers.items():
  print(item)

('three', 3)
('one', 1)
('nine', 9)
('four', 4)

### 組み込み関数`sorted`

In [46]:
t = (4, -2, 3, 10, -8, 1)
print(sorted(t))

[-8, -2, 1, 3, 4, 10]

In [47]:
print(type(sorted(t)))

<class 'list'>

In [48]:
print(t)

(4, -2, 3, 10, -8, 1)

In [50]:
t2 = tuple(sorted(t))

In [51]:
t2

(-8, -2, 1, 3, 4, 10)

In [52]:
l = [1, -2, 8, 3, 23, 14]
print(sorted(l))
print(type(sorted(l)))
print(l)

[-2, 1, 3, 8, 14, 23]
<class 'list'>
[1, -2, 8, 3, 23, 14]

In [53]:
l.sort()
print(l)

[-2, 1, 3, 8, 14, 23]

### 辞書の要素をキーでソートする

In [54]:
numbers = {'three':3 , 'one':1 , 'nine':9, 'four':4}

In [55]:
sorted(numbers)

['four', 'nine', 'one', 'three']

In [56]:
sorted(numbers.items())

[('four', 4), ('nine', 9), ('one', 1), ('three', 3)]

In [57]:
for item in sorted(numbers.items()):
  print(item)

('four', 4)
('nine', 9)
('one', 1)
('three', 3)

### 辞書の要素を値でソートする

In [58]:
sorted(numbers.items())

[('four', 4), ('nine', 9), ('one', 1), ('three', 3)]

In [59]:
sorted(numbers.items(), key=lambda x: x[1])

[('one', 1), ('three', 3), ('four', 4), ('nine', 9)]

In [63]:
numbers = {'three':3 , 'one':1 , 'nine':9, 'four':4}
for item in sorted(numbers.items(), key=lambda x: x[1]):
  print(item)

('one', 1)
('three', 3)
('four', 4)
('nine', 9)

### 辞書の`get`メソッド

In [64]:
numbers = {'three':3 , 'one':1 , 'nine':9, 'four':4}

In [66]:
numbers.get("zzzzz", 0)

0

In [67]:
freq = dict() #空の辞書
print(freq)

{}

In [70]:
l = ['a', 'b', 'a', 'a', 'c', 'b', 'c']
for e in l:
  freq[e] = freq.get(e, 0) + 1 #右辺がfreq[e] + 1だとエラー
print(freq)

{'a': 3, 'b': 2, 'c': 2}

## 補足: 予約語`lambda`

In [ ]:
def applyFunc(x, func):
  return func(x)

print(applyFunc(3, lambda x: x**2))

## 補足: 高階関数`map`

In [ ]:
ans = map(abs, range(-10, 11, 2))
for e in ans:
  print(e, end=' ')
print()

In [ ]:
for e in map(lambda x: x//2, range(-10, 11, 2)):
  print(e, end=' ')
print()

## 補足: 文字列の`split`メソッド

In [71]:
text = 'Donald Trump has his sights set on Amazon. He is reportedly “obsessed” with the internet commerce giant, and as is his wont, spent Thursday morning tweeting about it. And it’s not because he loves online shopping.'
print(text)

Donald Trump has his sights set on Amazon. He is reportedly “obsessed” with the internet commerce giant, and as is his wont, spent Thursday morning tweeting about it. And it’s not because he loves online shopping.

In [73]:
print(text.split())

['Donald', 'Trump', 'has', 'his', 'sights', 'set', 'on', 'Amazon.', 'He', 'is', 'reportedly', '“obsessed”', 'with', 'the', 'internet', 'commerce', 'giant,', 'and', 'as', 'is', 'his', 'wont,', 'spent', 'Thursday', 'morning', 'tweeting', 'about', 'it.', 'And', 'it’s', 'not', 'because', 'he', 'loves', 'online', 'shopping.']

In [74]:
text = 'Donald Trump has his sights set on Amazon. He is reportedly “obsessed” with the internet commerce giant, and as is his wont, spent Thursday morning tweeting about it. And it’s not because he loves online shopping.'
word_seq = text.split()
for word in word_seq:
  print(word)

Donald
Trump
has
his
sights
set
on
Amazon.
He
is
reportedly
“obsessed”
with
the
internet
commerce
giant,
and
as
is
his
wont,
spent
Thursday
morning
tweeting
about
it.
And
it’s
not
because
he
loves
online
shopping.

## クラス
* データとそれに対する処理とをまとめて扱いたいとき、クラスを自分で定義する。

In [ ]:
class Greeter(object):

  def __init__(self, name):
    self.name = name

  def greet(self, loud=False):
    if loud:
      print(f'HELLO, {self.name.upper()}!')
    else:
      print(f'Hello, {self.name}')

### インスタンスの作成

In [ ]:
g = Greeter('Fred')

### メソッドの呼出し

In [ ]:
g.greet()
g.greet(loud=True)

## 課題４
* 適当な英文ニュース記事から本文だけをコピー・アンド・ペーストし、テキストファイル`news.txt`を作っておく
* このテキストファイル`news.txt`を関数`open`で開き、そして読み込み、以下の処理をするコードをPythonで書く
* 記事にどの単語が何回出現するかを、単語の出現回数の降順でソートして表示する。
  * なお、ニュースサイトから、大量の記事をPythonのプログラムなどで自動的にダウンロードしてはいけません。